.container_white {
    background-color: white;
    max-width: 530px;
    height: 600px;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;

    .container_padding{
        padding: 90px;
    }
     
    .input_card
    {
      margin-top: 10px;
    }
   
    .input
    {
      width: 100%;
      margin-top: 15px;
    }
   
    .card_area
    {
      padding:80px;
    }
   
    .container_title
    {
      font-size: 30px;
      font-weight: 700;
      display: flex;
      align-items: flex-start;
      margin-bottom:-8px;
      color: #292929;
    }
    .container_para
    {
      color: #545454;
      font-size: 18px;
      font-weight: 400;
    }
   
    .line
    {
      display: flex;
      margin-top: 10px;

      .line_para{
        font-size: 15px;
        color: 4F4F4F;
      }
    }
    .social_card{
      display: flex;
       
        .google
        {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 131px;
        height: 61px;
        background-color: #F7F7F7;
        border-radius: 4px;
        margin-left: 10px;
        cursor: pointer;
        }
    }

    
    }
   
    